In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook

In [2]:
dataset = pd.read_csv('clustered_analysis.csv')

In [3]:
dataset.head()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Segment
0,1,Male,19,15,39,5
1,2,Male,21,15,81,4
2,3,Female,20,16,6,5
3,4,Female,23,16,77,4
4,5,Female,31,17,40,5

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
 5   Segment                 200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [5]:
X = dataset.iloc[:, 2:6]

In [6]:
X.head()

   Age  Annual Income (k$)  Spending Score (1-100)  Segment
0   19                  15                      39         5
1   21                  15                      81         4
2   20                  16                       6         5
3   23                  16                      77         4
4   31                  17                      40         5

In [7]:
X = pd.get_dummies(X)

In [8]:
X = X.values
X

array([[ 19,  15,  39,   5],
       [ 21,  15,  81,   4],
       [ 20,  16,   6,   5],
       [ 23,  16,  77,   4],
       [ 31,  17,  40,   5],
       [ 22,  17,  76,   4],
       [ 35,  18,   6,   5],
       [ 23,  18,  94,   4],
       [ 64,  19,   3,   5],
       [ 30,  19,  72,   4],
       [ 67,  19,  14,   5],
       [ 35,  19,  99,   4],
       [ 58,  20,  15,   5],
       [ 24,  20,  77,   4],
       [ 37,  20,  13,   5],
       [ 22,  20,  79,   4],
       [ 35,  21,  35,   5],
       [ 20,  21,  66,   4],
       [ 52,  23,  29,   5],
       [ 35,  23,  98,   4],
       [ 35,  24,  35,   5],
       [ 25,  24,  73,   4],
       [ 46,  25,   5,   5],
       [ 31,  25,  73,   4],
       [ 54,  28,  14,   5],
       [ 29,  28,  82,   4],
       [ 45,  28,  32,   5],
       [ 35,  28,  61,   4],
       [ 40,  29,  31,   5],
       [ 23,  29,  87,   4],
       [ 60,  30,   4,   5],
       [ 21,  30,  73,   4],
       [ 53,  33,   4,   5],
       [ 18,  33,  92,   4],
       [ 49,  33,  14,   5],
       [ 21,  33,  81,   4],
       [ 42,  34,  17,   5],
       [ 30,  34,  73,   4],
       [ 36,  37,  26,   5],
       [ 20,  37,  75,   4],
       [ 65,  38,  35,   0],
       [ 24,  38,  92,   4],
       [ 48,  39,  36,   0],
       [ 31,  39,  61,   3],
       [ 49,  39,  28,   5],
       [ 24,  39,  65,   4],
       [ 50,  40,  55,   0],
       [ 27,  40,  47,   3],
       [ 29,  40,  42,   3],
       [ 31,  40,  42,   3],
       [ 49,  42,  52,   0],
       [ 33,  42,  60,   3],
       [ 31,  43,  54,   3],
       [ 59,  43,  60,   0],
       [ 50,  43,  45,   0],
       [ 47,  43,  41,   0],
       [ 51,  44,  50,   0],
       [ 69,  44,  46,   0],
       [ 27,  46,  51,   3],
       [ 53,  46,  46,   0],
       [ 70,  46,  56,   0],
       [ 19,  46,  55,   3],
       [ 67,  47,  52,   0],
       [ 54,  47,  59,   0],
       [ 63,  48,  51,   0],
       [ 18,  48,  59,   3],
       [ 43,  48,  50,   0],
       [ 68,  48,  48,   0],
       [ 19,  48,  59,   3],
       [ 32,  48,  47,   3],
       [ 70,  49,  55,   0],
       [ 47,  49,  42,   0],
       [ 60,  50,  49,   0],
       [ 60,  50,  56,   0],
       [ 59,  54,  47,   0],
       [ 26,  54,  54,   3],
       [ 45,  54,  53,   0],
       [ 40,  54,  48,   3],
       [ 23,  54,  52,   3],
       [ 49,  54,  42,   0],
       [ 57,  54,  51,   0],
       [ 38,  54,  55,   3],
       [ 67,  54,  41,   0],
       [ 46,  54,  44,   0],
       [ 21,  54,  57,   3],
       [ 48,  54,  46,   0],
       [ 55,  57,  58,   0],
       [ 22,  57,  55,   3],
       [ 34,  58,  60,   3],
       [ 50,  58,  46,   0],
       [ 68,  59,  55,   0],
       [ 18,  59,  41,   3],
       [ 48,  60,  49,   0],
       [ 40,  60,  40,   3],
       [ 32,  60,  42,   3],
       [ 24,  60,  52,   3],
       [ 47,  60,  47,   0],
       [ 27,  60,  50,   3],
       [ 48,  61,  42,   0],
       [ 20,  61,  49,   3],
       [ 23,  62,  41,   3],
       [ 49,  62,  48,   0],
       [ 67,  62,  59,   0],
       [ 26,  62,  55,   3],
       [ 49,  62,  56,   0],
       [ 21,  62,  42,   3],
       [ 66,  63,  50,   0],
       [ 54,  63,  46,   0],
       [ 68,  63,  43,   0],
       [ 66,  63,  48,   0],
       [ 65,  63,  52,   0],
       [ 19,  63,  54,   3],
       [ 38,  64,  42,   3],
       [ 19,  64,  46,   3],
       [ 18,  65,  48,   3],
       [ 19,  65,  50,   3],
       [ 63,  65,  43,   0],
       [ 49,  65,  59,   0],
       [ 51,  67,  43,   0],
       [ 50,  67,  57,   0],
       [ 27,  67,  56,   3],
       [ 38,  67,  40,   3],
       [ 40,  69,  58,   3],
       [ 39,  69,  91,   1],
       [ 23,  70,  29,   3],
       [ 31,  70,  77,   1],
       [ 43,  71,  35,   2],
       [ 40,  71,  95,   1],
       [ 59,  71,  11,   2],
       [ 38,  71,  75,   1],
       [ 47,  71,   9,   2],
       [ 39,  71,  75,   1],
       [ 25,  72,  34,   3],
       [ 31,  72,  71,   1],
       [ 20,  73,   5,   2],
       [ 29,  73,  88,   1],
       [ 44,  73,   7,   2],
       [ 32,  73,  73,   1],
       [ 19,  74,  10,   2],
       [ 35,  74,  72,   1],
       [ 57,  75,   5,   2],
       [ 32,  75,  93,   1],
       [ 28,  76,  40,   3],
       [ 32,  76,  87,   1],
       [ 25,  77,  12,   2],
       [ 28,  77,  97,   1],
       [ 48,  77,  36,   2],
       [ 32,  77,  74,   1],
       [ 34,  78,  22,   2],
       [ 34,  78,  90,   1],
       [ 43,  78,  17,   2],
       [ 39,  78,  88,   1],
       [ 44,  78,  20,   2],
       [ 38,  78,  76,   1],
       [ 47,  78,  16,   2],
       [ 27,  78,  89,   1],
       [ 37,  78,   1,   2],
       [ 30,  78,  78,   1],
       [ 34,  78,   1,   2],
       [ 30,  78,  73,   1],
       [ 56,  79,  35,   2],
       [ 29,  79,  83,   1],
       [ 19,  81,   5,   2],
       [ 31,  81,  93,   1],
       [ 50,  85,  26,   2],
       [ 36,  85,  75,   1],
       [ 42,  86,  20,   2],
       [ 33,  86,  95,   1],
       [ 36,  87,  27,   2],
       [ 32,  87,  63,   1],
       [ 40,  87,  13,   2],
       [ 28,  87,  75,   1],
       [ 36,  87,  10,   2],
       [ 36,  87,  92,   1],
       [ 52,  88,  13,   2],
       [ 30,  88,  86,   1],
       [ 58,  88,  15,   2],
       [ 27,  88,  69,   1],
       [ 59,  93,  14,   2],
       [ 35,  93,  90,   1],
       [ 37,  97,  32,   2],
       [ 32,  97,  86,   1],
       [ 46,  98,  15,   2],
       [ 29,  98,  88,   1],
       [ 41,  99,  39,   2],
       [ 30,  99,  97,   1],
       [ 54, 101,  24,   2],
       [ 28, 101,  68,   1],
       [ 41, 103,  17,   2],
       [ 36, 103,  85,   1],
       [ 34, 103,  23,   2],
       [ 32, 103,  69,   1],
       [ 33, 113,   8,   2],
       [ 38, 113,  91,   1],
       [ 47, 120,  16,   2],
       [ 35, 120,  79,   1],
       [ 45, 126,  28,   2],
       [ 32, 126,  74,   1],
       [ 32, 137,  18,   2],
       [ 30, 137,  83,   1]], dtype=int64)

In [9]:
Y = dataset.iloc[:, -1].values
Y

array([5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4,
       5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 0, 4, 0, 3,
       5, 4, 0, 3, 3, 3, 0, 3, 3, 0, 0, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 3,
       0, 0, 3, 3, 0, 0, 0, 0, 0, 3, 0, 3, 3, 0, 0, 3, 0, 0, 3, 0, 0, 3,
       3, 0, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 0, 0, 3, 0, 3, 0, 0, 0, 0,
       0, 3, 3, 3, 3, 3, 0, 0, 0, 0, 3, 3, 3, 1, 3, 1, 2, 1, 2, 1, 2, 1,
       3, 1, 2, 1, 2, 1, 2, 1, 2, 1, 3, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
       2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
       2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1,
       2, 1], dtype=int64)

## Split data

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=.25, random_state = 42)

In [12]:
X_train.shape

(150, 4)

In [13]:
X_test.shape

(50, 4)

## Training set menggunakan metode Naive Bayes

In [14]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [15]:
gnb.fit(X_train,Y_train)

GaussianNB()

In [16]:
Y_pred = gnb.predict(X_test)

## Hitung Accuracy

In [17]:
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         8
           2       1.00      1.00      1.00        10
           3       1.00      1.00      1.00        12
           4       1.00      1.00      1.00         5
           5       1.00      1.00      1.00         5

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

In [19]:
from sklearn.model_selection import cross_val_score

In [20]:
print('Cross val: ', cross_val_score(gnb, Y_test.reshape(-1, 1), Y_pred, cv = 5))
print('Accuracy : ', np.mean(cross_val_score(gnb, Y_test.reshape(-1, 1), Y_pred)))

Cross val:  [1. 1. 1. 1. 1.]
Accuracy :  1.0